<app-header></app-header>
<div id="global">
    <div class="cards cardsi apex">
        <img src="../../../assets/img/apex1.png" alt="">
        <h1>Apex Legends</h1>
        <p>Este juego actualmente es mi favorito, es un juego muy rápido que a su vez es muy dificil, pero
            por eso mismo me encanta, cuenta con una gran variedad de personajes con distintas habilidades, lo cual
            hace que tenga amplias posibilidades sobre lo que se puede hacer en este juego.
        </p>
    </div>
    <div class="cards cardsd ark">
        <img src="../../../assets/img/ark.jpg" alt="">
        <h1>ARK Survival Evolved</h1>
        <p>ARK es mi juego favorito en caundo a supervivencia y construcion, cuenta con distintos mundos los cuales
            se pueden explorar y encontrarnos con distintas criaturas, las cuales son dinosaurios y algunas creaturas fantásticas, este juego
            tiene distintas mecanicas y si se cuenta con una gran imagincacion este juego jamás aburrirá.
        </p>
    </div>
    <div class="cards cardsi csgo">
        <img src="../../../assets/img/csgo.jfif" alt="">
        <h1>Counter Strike Global Offensive</h1>
        <p>
            CSGO fué un juego el cual le invertí muchas horas, me la pasaba jugando con mis amigos y fuera de buscar un rango alto,
            le intención era divertirme con ellos, una cosa que hacia en este juego era el compar skins, el tener ese efecto visual,  sin embargo
            era muy malo, pero como dicen, las risas núnca faltaron.
        </p>
    </div>
</div>
