<div id="center">
    <div id="info">
        <h1>Información Personal</h1>
        <img src="../../../assets/img/yo.jpeg" alt="">
        <p>Hola, mi nombre es Ramón Molina Vázquez, un chico de 22 al cual le apasionan los Videojuegos
            y a pesar de ser malo en ellos les sigo teniendo un gran cariño ya que he vivido toda la vida con ellos.</p> 
        <p>Actualmente estoy en una beca para el desarrollo mobile ya que es una de mis aspiraciones, sin embargo
        espero en un futuro contar con los conocimientos para lograr desarrollar algún Video Juego y así lograr divertir a muchas 
        personas como yo me divertí al introducirme a nuevos mundos que nos ofrecen los Video Juegos.</p>
        <p>Mi juego favorito Actualmente es Apex legends.</p>    
        <p>Tu juego favorito es {{jue}}, espero llevarnos bien.</p>

       
    </div>
</div>