<app-header></app-header>
<div id="cuerpof">
<div  >
    <h1>Datos</h1>
    <div id="formul">
    <form [formGroup]="formulario" (ngSubmit)="guardarDatos()">
        <label for="">Ingresa tu nombre</label>
        <input type="text" id="nombre" formControlName="nombre">
        <label for="">Ingresa tu Apellido</label>
        <input type="text" formControlName="apellido">
        <label for="">Ingresa tu Email</label>
        <input type="text" formControlName="email">
        <label for="">Ingresa tu Número</label>
        <input type="text" formControlName="telefono">
        <label for="">Ingresa tu mensaje</label>
        <input type="textarea" formControlName="mensaje">
        <input type="submit" value="Guardar Datos">
    </form>
    </div>
    <div *ngIf="estado">
        <h2>Datos guardados</h2>ç
        <p class="txtm">Nombre:</p>
        <p>{{nombre}}</p>
        <p class="txtm">Apellido:</p>
        <p>{{apellido}}</p>
        <p class="txtm">Correo Electronico:</p>
        <p>{{correo}}</p>
        <p class="txtm">Telefono:</p>
        <p>{{telefono}}</p>
        <p class="txtm">Mensaje:</p>
        <p>{{mensaje}}</p><br>
    </div>
</div>
</div>