<app-header></app-header>
<div id="cuerpof">
<div  >
    <h1>Datos</h1>
    <div id="formul">
        <label for="">Ingresa tu nombre</label>
        <input type="text" id="nombre" [(ngModel)]="nombre">
        <label for="">Ingresa tu Apellido</label>
        <input type="text" [(ngModel)]="apellido">
        <label for="">Ingresa tu Email</label>
        <input type="text" [(ngModel)]="correo">
        <label for="">Ingresa tu Número</label>
        <input type="text" [(ngModel)]="numero">
        <label for="">Ingresa tu mensaje</label>
        <input type="textarea" [(ngModel)]="mensaje">
        <input type="submit" value="Guardar Datos" >
        
    </div>
    <div>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Mensaje</th>
            </tr>
            <tbody>
                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{correo}}</td>
                        <td>{{mensaje}}</td>
                    </tr>
            </tbody>
        </table><br>
    </div>
</div>
</div>