<app-header></app-header>
<div id="contenido">
-->
<div class="main-container">
  <div class="heading">
    <h1 class="heading__title">Mis gustos</h1>
      </div>
  <div class="cards">
    <div class="card card-1">
      <h2 class="card__title">Me encantan los videojuegos, podria pasar horas en ellos, llendo de uno a otro
          para que la diversion jamas termine.
      </h2>
    </div>
    <div class="card card-2">
      <h2 class="card__title">Cuando no estoy con los videojuegos, me gusta el ver series, peliculas y principalmente Anime
          mi favorito es One piece, el cual de tanto que me gustó lo terminé en menos de medio año con sus casi 1000 capítulos.
      </h2>
    </div>
    <div class="card card-3">
      <h2 class="card__title">Lo que más disfruto es el pasar tiempo con mi novia, salir, comer, hacer cualquier cosa juntos.</h2>
    </div>
    <div class="card card-4">
      <h2 class="card__title">Soy una persona que le gusta el silencio, el estar tranquilo escuchando ese nada, pero tambien en ocaciones
          esucho musica que me relaja.
      </h2>
    </div>
  </div>
</div>
</div>