<header>
    <nav id="head" class="espacio">
        <ul>
           <!-- <li id="bien">Bienvenido: {{nombre}}</li>--> 
            <li><button [routerLink]="['/home']">Home</button></li>
            <li><button [routerLink]="['/gustos']">Gustos</button></li>
            <li><button [routerLink]="['/videojuegos']">VideoJuegos</button></li>
            <li><button [routerLink]="['/formulario']">Formulario</button></li>
            <li><button [routerLink]="['/contact']">Contacto</button></li>
            <li><button [routerLink]="['/comentarios']">Comentarios</button></li>
        </ul>
    </nav>
</header>